.array {
  margin: 1%;
}
.array-bar {
  display: inline-block;
  margin: 0 2px;
  background-color: #3dcbe0;
}
.transparent-array-bar {
  display: inline-block;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 0.5%;
  margin-bottom: 1%;
}

.sort-button-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  background-color: teal;
}

.main-button {
  background-color: #3dcbe0;
  cursor: pointer;
  outline: none;
  font-size: 32px;
  margin-left: 0.5%;
  border: none;
  opacity: 1;
}

.main-button:hover {
  background-color: #83d8e6;
}

.medium-button {
  background-color: #3dcbe0;
  outline: none;
  margin-left: 0.5%;
  width: 5%;
  font-size: 24px;
  border: none;
}
.medium-button:hover {
  cursor: pointer;
  background-color: #83d8e6;
}

.radio-label {
  padding-right: 2%;
  font-size: 18px;
  color: #ffffff;
}
.radio-button {
  cursor: pointer;
}

.slider-label {
  margin-left: 1%;
  font-size: 24px;
  color: black;
}

.slider {
  -webkit-appearance: none;
  cursor: pointer;
  appearance: none;
  width: 70%;
  height: 7px;
  border-radius: 10px;
  background: #26c8e0;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #0c3f47;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #0c3f47;
  cursor: pointer;
}
