.array-container {
    margin: 1%;
}
.array {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1%;
    background-color: whitesmoke;
}
.array-bar {
    
    display: inline-block;
    margin: 0 2px;
    background-color: #663399;
}
.transparent-array-bar {
    margin: 0 2px;
    display: inline-block;
    background-color: rebeccapurple;
}
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: yellow;
    margin: 1%;
}
.sort-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: violet;
}
.slider-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: aquamarine;
    margin: 1%;
}
.main-button {
    background-color: aqua;
}
.medium-button {
    background-color: darkgrey;
}
.small-button {
    background-color: pink;
}
.slider-label {
    margin-left: 4%;
    font-weight: bold;
}
.main-slider {
    width: 40%;
}

