.array-container {
    margin: 1%;
}
.array {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1%;
}
.array-bar {
    display: inline-block;
    margin: 0 2px;
    background-color: #3DCBE0;
}
.transparent-array-bar {
    display: inline-block;
}
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1%;
}
.sort-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #198494 
}
.slider-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #198494;
    margin-left: 30%;
    margin-right: 30%;
}
.main-button {
    background-color: #3DCBE0;
    font-size: 200%;
    border: none;
}
.medium-button {
    background-color: #3DCBE0;
    font-size: 150%;
    border: none;
}
.radio-label {
    color: #ffffff;
}
.slider-label {
    margin-left: 4%;
    color: #ffffff;
}
.speed-slider {
    width: 50%;
}
.size-slider {
    width: 90%;
}

