.array-container{
    width: 95%;
    padding: 10px;
    display: inline-block;
}
.array-bar{
    margin: 0 1px;
    display: inline-block;
}
.not-array-bar{
    margin: 0 1px;
    display: inline-block;
}

.size-slider{
    width: 50%
}